h1{font-size: 100px;
  color: #FFF;
  font-family: 'arial black';
  text-align: center;
  width: 800px; height: 220px;
  border: solid #000;
  background-color: red;
  margin:auto;
  margin-top:5%;
  padding-top: 80px}

  a {
text-decoration: none;
color: #75A9FF;
}

  .button {
  font-size: 40px;
  text-align: center;
  border: 1px solid #15aeec;
  background-color: #49c0f0;
  margin-top: 40px;
  margin-left:20%;
  padding-top: 80px;
  width: 300px; height: 120px;
  background-image: -webkit-linear-gradient(top, #49c0f0, #2cafe3);
  background-image: linear-gradient(to bottom, #49c0f0, #2cafe3);
  border-radius: 4px;
  color: #fff;
  line-height: 50px;
  -webkit-transition: none;
  transition: none;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button:hover {
  border:1px solid #1090c3;
  background-color: #1ab0ec;
  background-image: -webkit-linear-gradient(top, #1ab0ec, #1a92c2);
  background-image: linear-gradient(to bottom, #1ab0ec, #1a92c2);
}
.button:active {
  background: #1a92c2;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
  color: #1679a1;
  text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}


.button2 {
font-size: 40px;
text-align: center;
border: 1px solid ##444444;
background-color: #49c0f0;
margin-top: -202px;
margin-left:58%;
padding-top: 80px;
width: 300px; height: 120px;
background-image: -webkit-linear-gradient(top, #999999, #999999);
background-image: linear-gradient(to bottom, #999999, #999999);
border-radius: 4px;
color: #555555;
line-height: 50px;
-webkit-transition: none;
transition: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
/*
.button2:active {
background: #009900;
box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
color: #009933;
text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}*/

.button3 {
  margin-left: 90%;
  font-size: 20px;
  text-align: center;
  width: 120px;height: 50px;
  background-color: #333;
  border: 2px solid #333;
  color: #fff;
  line-height: 50px;
}
.button3:hover {
  background-color: #fff;
  border-color: #59b1eb;
  color: #59b1eb;
}
.button4 {
font-size: 40px;
text-align: center;
border: 1px solid #15aeec;
background-color: #49c0f0;
margin-top: -202px;
margin-left:58%;
padding-top: 80px;
width: 300px; height: 120px;
background-image: -webkit-linear-gradient(top, #00FF99, #00FF66);
background-image: linear-gradient(to bottom, #00FF99, #00FF66);
border-radius: 4px;
color: #fff;
line-height: 50px;
-webkit-transition: none;
transition: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.button4:hover {
border:1px solid #1090c3;
background-color: #1ab0ec;
background-image: -webkit-linear-gradient(top, #00FF00, #00FF33);
background-image: linear-gradient(to bottom, #00FF00, #00FF33);
}
.button4:active {
background: #009900;
box-shadow: inset 0 3px 5px rgba(0, 0, 0, .2);
color: #009933;
text-shadow: 0 1px 1px rgba(255, 255, 255, .5);
}



.touroku{
  text-align: right;
}
