<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../static/Login.css">
    <title></title>
  </head>
    <header>Hoterusi.com</header>
  <body>

      <div class="demo1">
        <a href="Registration.html" class="square_btn">会員登録</a></div><br>

      <h1>ログイン</h1>
      <form method="post" action="/valid">
      <div class="box">
      <label for="mail">メールアドレス</label><br>
      <input type="text" placeholder="メールアドレス" id="mail" name="mail"/><br>
      <label for="pass">パスワード</label><br>
      <input type="password" placeholder="パスワード" id="pass" name="pass"/><br><br>
      <input type="submit" value="送信">
    </div>

    </form>

  </body>
</html>
