<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/Login.css">
    <title></title>
  </head>
    <header>Hoterusi.com</header>
  <body>
    <form>
      <div class="demo1">
        <a href="Registration.html" class="square_btn">会員登録</a></div><br>
    <div>
      <h1>ログイン</h1>
      <div class="box">
      <label>メールアドレス</label><br>
      <input type="text" placeholder="メールアドレス"/><br>
      <label>パスワード</label><br>
      <input type="password" placeholder="パスワード"/><br><br>
      <a href="ToppageLogin.html" class="square_btn">ログイン</a><br><br>
    </div>
  </div>
    </form>
  </body>
</html>
