<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/button.css">
    <meta charset="utf-8">
    <title>登録確認</title>
  </head>
    <header>Hoterusi.com</header>
  <body>
    <br>
    <h2>登録を確定します<br>以下の内容でよろしいですか？</h2>
        <table>
          <tr>
            <th>ユーザー名</th>
            <td>{{ member_info['member_name'] }}</td>
          </tr>
         
          <tr>
            <th>メールアドレス</th>
            <td>{{ member_info['mail_address'] }}</td>
          </tr>
          <tr>

            <th>郵便番号</th>
            <td>{{ member_info['postal_code'] }}</td>
          </tr>
            <th>住所</th>
            <td>{{ member_info['base_address'] }}</td>
          </tr>
          <tr>
            <th>生年月日</th>
            <td>{{ member_info['birth_date'] }}</td>
          </tr>
          <tr>
          <tr>
            <th>性別</th>
            <td>{{ gender }}</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>{{ member_info['phone_number'] }}</td>
          </tr>
          <!-- <tr>
            <th>パスワード</th>
            <td>💩💩💩💩💩💩</td>
          </tr> -->
      </table>

      <br>
      <form action="/Registration/confirm/true">
        <input type="submit"  value="登録"  class="square_btn">
        <input type="text" value="{{ sql }}" hidden>
      </form>

  </body>
  <script>
  // function Click() {
  //       alert("登録が完了しました");
  //       location.href="ToppageLogin.html"
  //       }
  </script>
</html>
