<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/Reg.css">
    <script src="https://ajaxzip3.github.io/ajaxzip3.js" charset="UTF-8"></script>
    <title></title>
  </head>
    <header>Hoterusi.com</header>
  <body>
    <form>


      <h1>会員登録</h1>

      <div class="box">
      <br><br>
      <span>氏名</span>
      <input type="text" class="name" placeholder="例) 佐仁"/>
      <input type="text" class="name" placeholder="五郎"/><br><br>

      <span>カナ</span>
      <input type="text" class="name" placeholder="例) サニ"/>
      <input type="text" class="name" placeholder="ゴロウ"/><br><br>

      <span>メールアドレス</span>
      <input type="text" class="mail" > <br><br>

      <span>郵便番号</span>
      <input type="text" name="zip11" size="10" maxlength="7" placeholder=" 例)1230011" onKeyUp="AjaxZip3.zip2addr(this,'','addr11','addr11');">
      <br><br>

      <span>住所</span>
      <input type="text" name="addr11" size="60"><br><br>

      <span>生年月日</span>
      <input type="text" maxlength="4"class="tel" > 年
      <input type="text" maxlength="2"class="day" > 月
      <input type="text" maxlength="2"class="day" > 日<br><br>

      <span>性別</span>
      <input type="radio"name="sex">
      <label>男性</label>
      <input type="radio"name="sex">
      <label>女性</label>
      <input type="radio"name="sex">
      <label>その他</label><br><br>

      <span>電話番号</span>
      <input type="text" class="tel" > -
      <input type="text" class="tel" > -
      <input type="text" class="tel" ><br><br>

      <span>パスワード</span>
      <input type="password" class="pass" ><br>

      <span>パスワード(再入力)</span>
      <input type="password" class="pass" > <br><br>
      <center>
      <onclick="" class="square_btn">登録</a><br>
      </center>

    </form>
  </body>

</html>
