<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/button.css">
    <meta charset="utf-8">
    <title>予約一覧確認</title>
  </head>
    <header>Hoterusi.com</header>
  <body>
    <br>
    <h2>予約済みホテル一覧444</h2>
    {% for key, val in reservations.items() %}
    <table>
      <tr>
        <th>ホテル名</th>
        <td>{{ val['hotel_name'] }}</td>
      </tr>
      <tr>
        <th>ルームタイプ</th>
        <td>{{ val['room_type_name'] }}</td>
      </tr>
      <tr>
        <th>チェックイン日時</th>
        <td>{{ val['check_in_date'] }}</td>
      </tr>
      <tr>
        <th>チェックアウト日時</th>
        <td>{{ val['check_out_date'] }}</td>
      </tr>
        <th>人数</th>
        <td>大人{{ val['count_adalt'] }}人 子供{{ val['count_child'] }}人</td>
      </tr>
      <tr>
        <th>料金</th>
        <td>{{ val['price'] }}</td>
      </tr>
  </table>
  <input type="button"  value="この予約をキャンセルする"  class="square_btn" onclick="location.href='reservation_cancel'">
  <hr width="500px"><br><br><br>
  {% endfor %}
  </body>
</html>
