<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/main.css">
    <link rel="stylesheet" href="../static/button.css">
    <meta charset="utf-8">
    <title>キャンセル確認</title>
  </head>
    <header>Hoterusi.com</header>
  <body>
    <br>
    <h2 >
        この予約をキャンセルします<br>
        よろしいですか？
    </h2>
    <form action="/reservation_cancel/confirm" method="post">
      <table>
        <tr>
          <th>ホテル名</th>
          <td>{{ re['hotel_name'] }}</td>
        </tr>
        {% for name in re['room_type'] %}
        <tr>
          <th>部屋{{ loop.index0 + 1 }}</th>

          <td>{{ name }}</td>
        </tr>
        {% endfor %}
        <tr>
          <th>チェックイン日時</th>
          <td>{{ re['check_in_date'] }}</td>
        </tr>
        <tr>
          <th>チェックアウト日時</th>
          <td>{{ re['check_out_date'] }}</td>
        </tr>
        <th>人数</th>
        <td>大人{{ re['count_adalt'] }}人 子供{{ re['count_child'] }}人</td>
        </tr>
        <tr>
          <th>料金</th>
          <td>{{ re['price'] }}</td>
        </tr>
      </table>
      <br>
      <!-- <input type="button"  value="キャンセルする" class="square_btn" onclick="canselClick();"> -->
      <input type="submit"  value="キャンセルする" class="square_btn">
      <br><br>
      <hr width="500px"><br><br><br>
    </form>
    </div>

  </body>
    <script>
        function canselClick() {
              alert("キャンセルが完了しました");
              location.href="ToppageLogin.html"
              }
    </script>
</html>
