<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet"  href="/static/roomchoice.css">
</head>
   <header>Hoterusi.com</header>
<hr>
<body>
<p align="center">利用するルームタイプを選んで予約ボタンを押してください</p>
<div class="room">
  <table border="2">
  <tr id="koumoku">
    <th>ルームタイプ</th>
    <th>料金</th>
    <th>客室数</th>
</tr>
<form method="POST" action="/reservation_confirm">
{% for item in hotelinfo %}
<tr>
  <td>{{item[0]}}</td>
  <td>{{item[1]}}</td>
  <td>
    <input type="number" name = "{{item[2]}}" min="0" max="4" size="4" value="0" required  style="text-align:right;" ></input></td>
</tr>
{% endfor %}
</table>
  <button class="button">予約</button>
</form>
</div>
<div id="fotter"></div>
</body>
</html>
