<!DOCTYPE html>
<html lang='ja'>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/static/SearchResult.css">
</head>
   <header>Hoterusi.com</header>
<hr>
<body>
<div class="SearchBox">
    <input type="search" id="locate" name="locate" value={{ locate }}>
    <div class="date" >
      <p>チェックイン日</P>
    <input type ="date" id="CheckIn" name ="CheckIn"  min="" value={{ CheckIn }}>
    <p>チェックアウト日</P>
    <input type ="date" id="CheckOut" name ="CheckOut" value={{ CheckOut }}>
    </div>
    <div class="member" >
    <p id="room">客室数</p>
    <input type="number" id="roomnumber" name="roomnumber" min="0" value={{ roomnumber }}>
    <p id="adult1">大人</p>
      <input type="number" id="adult" name=adult min="0" value={{ adult }}>
      <p id="child1">子供</p>
        <input type="number" id="child" name=child min="0" value={{ child }}>
      </div>
      <div class="money">
        <p>予算</p>
        <input id="range" name="range"type="range" min="0" max="100" step="0.1" value={{ range }}>
        <span id="value">5</span>万
        <script>
          var elem = document.getElementById('range');
          var target = document.getElementById('value');
          var rangeValue = function (elem, target) {
            return function(evt){
              target.innerHTML = elem.value;
            }
          }
          elem.addEventListener('input', rangeValue(elem, target));
        </script>
      </div>
<br>
        <button id="button1">検索</butoon>
</div>
<hr>
<h1>{{ searchconditions }}</h1>
<p2>２件HITしました</p2><br>
<div class="hotel">
<span><img src="hotel1.png"></span>
<span class="hotelname">王国ホテル<br>
<span class="locate">住所:〒100-8111<br>
 東京都千代田区千代田１−１</span>
</span>
<span class="hotelprice">一泊5万円~</span>
<button class="button2" onclick="location.href='roomchoice.html'">客室を選択</button>
</div>
<hr>
<div class="hotel">
<span><img src="hotel2.png"></span>
<span class="hotelname">帝国ホテル<br>
<span class="locate">住所:〒100-8111<br>
 東京都大田区蒲田１−１</span>
</span>
<span class="hotelprice">一泊3万円~</span>
<button class="button2" onclick="location.href='roomchoice.html'">客室を選択</button>
</div>
</body>
<footer>

</footer>
</html>
