<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/static/top.css">
    <title>Hoterusi.com</title>
  </head>
  <body>
    <form>
    <div class="touroku">会員登録は<a href="/Registration">こちら</a>から</div>
    </form>
    <div class="button3"><a href="/login">ログイン</a></div>
    <h1>Hoterusi.com</h1>
    <div class="button"onclick=" location.href='/searchtop'">
    ホテルを探す
    </div>
    <div class="button2">
    予約情報の確認
    </div>


  </body>
</html>
