<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/button.css">
    <meta charset="utf-8">
    <title>キャンセル確認</title>
  </head>
    <header>Hoterusi.com</header>
  <body>
    <br>
    <h2 >
        この予約をキャンセルします<br>
        よろしいですか？
    </h2>
    <div class="square">
      <ul>
        <h2>Rusian's Hotel</h2>
        <li>2017-10-06～2017/10-7</li>
        <li>325人</li>
        <li>シングル</li>
      </ul>
      <input type="button"  value="キャンセルする" class="square_btn" onclick="canselClick();">
    </div>

  </body>
    <script>
        function canselClick() {
              alert("キャンセルが完了しました");
              location.href="ToppageLogin.html"
              }
    </script>
</html>
