<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/button.css">
    <meta charset="utf-8">
    <title>登録確認</title>
  </head>
    <header>Hoterusi.com</header>
  <body>
    <br>
    <h2>登録を確定します<br>以下の内容でよろしいですか？</h2>
        <table>
          <tr>
            <th>氏名</th>
            <td>帆手　琉氏案</td>
          </tr>
          <tr>
            <th>カナ</th>
            <td>ホテ　ルシアン</td>
          </tr>
          <tr>
            <th>メールアドレス</th>
            <td>tskoiyo@rusian0.com</td>
          </tr>
          <tr>

            <th>郵便番号</th>
            <td>325-0721</td>
          </tr>
            <th>住所</th>
            <td>広島県 因島市 帆手琉町 1-2-3</td>
          </tr>
          <tr>
            <th>生年月日</th>
            <td>1997年 12月 9日</td>
          </tr>
          <tr>
          <tr>
            <th>性別</th>
            <td>漢</td>
          </tr>
          <tr>
            <th>電話番号</th>
            <td>080-3210-7716</td>
          </tr>
          <tr>
            <th>パスワード</th>
            <td>💩💩💩💩💩💩</td>
          </tr>
      </table>
      <br>
      <input type="button"  value="登録"  class="square_btn" onclick="Click();">

  </body>
  <script>
  function Click() {
        alert("登録が完了しました");
        location.href="ToppageLogin.html"
        }
  </script>
</html>
